html
  head
    link(rel='icon' href='app/canvas-studio/static/preview-templates/favicon.ico')
    meta(charset='utf-8')
    title=title
    meta(name='viewport' content='width=device-width,user-scalable=no,initial-scale=1, minimum-scale=1,maximum-scale=1')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='full-screen' content='yes')
    meta(name='screen-orientation' content='portrait')
    meta(name='x5-fullscreen' content='true')
    meta(name='360-fullscreen' content='true')

    link(rel='stylesheet' href='app/canvas-studio/static/preview-templates/style.css')

  body
    include ./toolbar.jade

    div.content#content
      div.wrapper#GameDiv
        canvas#GameCanvas(width=640 height=480)
        div#splash

    script(type='text/javascript' charset='utf-8' src='/socket.io/socket.io.js')
    script(type='text/javascript').
        window.__socket_io__ = window.io;
    script(type='text/javascript' charset='utf-8' src='settings.js')
    script(type='text/javascript' charset='utf-8' src='app/engine-framework/bin/engine-framework.js')
    - for ( var key in runtimeScripts )
        script(type='text/javascript' charset='utf-8' src='runtime/'+runtimeScripts[key])
    script(type='text/javascript' charset='utf-8' src='project/library/bundle.project.js')
    script(type='text/javascript' charset='utf-8' src='app/canvas-studio/static/preview-templates/boot.js')
