html
  head
    title=pageTitle

    style.
      body {
        cursor: default;
        color: #888;
        background-color: #333333;
      }

    script(type='text/javascript').
      if (foo) bar(1 + 5)

  body
    h1 Preview
