body {
    cursor: default;
    color: #888;
    background-color: #333;

    display: flex;
    flex-direction: column;

    padding: 0px;
    border: 0px;
    margin: 0px;
}

body, canvas, div {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#splash {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #171717 url(./splash.png) no-repeat center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    flex: auto;
}

.wrapper {
    position: relative;

    border: 2px solid #555;
}

.toolbar {
    position: absolute;
    left: 10px;
    top: 10px;

    display: flex;
    align-items: center;
    flex-direction: row;
}

.toolbar .item {
    display: inline-block;
    margin-right: 10px;
}

.toolbar select {
    height: 25px;
    padding: 5px 8px;

    box-shadow: none;
    background-image: none;

    border: 1px solid #171717;
    background: #444;
    color: #aaa;
}

.toolbar select:focus {
    outline: none;
    border: 1px solid #09f;
}

.toolbar button {
    border: 1px solid #171717;
    border-radius: 2px;
    text-align: center;
    padding: 4px 8px;

    cursor: pointer;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #bdbdbd;
    font-weight: bold;

    background-image: linear-gradient(#5a5a5a, #444);
}

.toolbar button.paused {
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.5);
    color: #09f;
    background-image: linear-gradient(#333, #222);
}

.toolbar button:focus {
    outline: none;
}

.toolbar button:active {
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.5);
    color: #888;
    background-image: linear-gradient(#333, #222);
}

@media screen and (max-width: 760px) {
    .toolbar {
        display: none;
    }

    .wrapper {
        border: 0px;
    }
}
