div.toolbar
  div.item
    select#opts-device
      option(value='0') Apple iPad (1024 x 768) x 2
      option(value='1') Apple iPad Mini (1024 x 768)
      option(value='2') Apple iPhone 4 (320 x 480) x 2
      option(value='3') Apple iPhone 5 (320 x 568) x 2
      option(value='4') Apple iPhone 6 (375 x 667) x 2
      option(value='5') Apple iPhone 6 Plus (414 x 736) x 3
      option(value='6') Goolge Nexus 4 (384 x 640) x 2
      option(value='7') Goolge Nexus 5 (360 x 640) x 3
      option(value='8') Goolge Nexus 6 (412 x 732) x 3.5
      option(value='9') Goolge Nexus 7 (960 x 600) x 2

  div.item
    button#btn-pause Pause
