[submodule "engine-framework"]
	path = engine-framework
	url = git@github.com:rasentry/engine-framework.git
[submodule "editor-framework"]
	path = editor-framework
	url = git@github.com:rasentry/editor-framework.git
[submodule "asset-db"]
	path = asset-db
	url = git@github.com:rasentry/asset-db.git
