:host {
    @apply(--layout-fit);
    @apply(--layout-vertical);

}

[row] {
    @apply(--layout-horizontal);

    background: #262626;
    padding: 10px;
    height: 50px;
}

[row][end] {
    @apply(--layout-horizontal);
    @apply(--layout-end-justified);
}

[flex-1] {
    @apply(--layout-flex);
}

iron-selector {
    @apply(--layout-horizontal);
    @apply(--layout-wrap);
}

.runtime-list {
    /* border-bottom: 1px solid #666; */
    /* border-right: 1px solid #666; */
    padding: 5px;
}

.name {
    font-size: 16px;
    font-weight: bold;
    color: #fafafa;
    background-color: #343435;
    height: 53px;
    padding-top: 10px;
    border-top: 1px solid #626266;
    /* border-bottom: 1px solid #626266; */
    text-align: center;
}

.runtime {
    width: 275px;
    height: 175px;
    position: relative;
    padding: 0;

    background: #1E1E1E;
    border: 1px solid #626266;
    margin: 5px;
    cursor: pointer;
}

.runtime:hover {
    border: 1px solid #999;
}

.runtime.selected {
    border: 1px solid #ed7461;
}

.runtime.selected .name {
    /* border-bottom: 1px solid #ed7461; */
}

.logo {
    width: 100%;
    height: 120px;
    position: relative;
}
.logo img {
/*     margin-left: auto;
margin-right: auto;
margin-top: 10px;
display:block; */
    max-height: 80%;
    max-width: 80%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.version {
    color: #888;
}

.description {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    background-color: #1E1E1E;
}

.description .title {
    color: #fafafa;
    padding-left:15px;
    padding-right: 10px;
    text-transform: capitalize;
}
.description .text {
    color: #808080;
    padding-right:80px;
}

.description .link {
    display:block;
    margin-top: auto;
    margin-bottom: auto;
}

.description .action {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}
