:host {
/*     @apply(--layout-fit);*/
    @apply(--layout-horizontal);
    @apply(--layout-wrap);
    background: #262626;
    padding: 5px;
}

[flex-1] {
    @apply(--layout-flex);
}

iron-selector {
    @apply(--layout-horizontal);
    @apply(--layout-wrap);
}

.project {
/*     @apply(--layout-vertical);
@apply(--layout-self-stretch);
 */
    width: 275px;
    height: 174px;
    position: relative;
    padding: 0;

    background: #1E1E1E;
    border: 1px solid #626266;
    margin: 5px;

    cursor: pointer;
}

.project:hover {
    border: 1px solid #999;
}

.project.selected {
    border: 1px solid #ed7461;
}

.project.selected .name {
    border-bottom: 1px solid #ed7461;
}

.name {
    font-size: 16px;
    font-weight: bold;
    color: #fafafa;
    background-color: #343435;
    height: 53px;
    border-top: 1px solid #626266;
    border-bottom: 1px solid #626266;
    text-align: center;
    line-height: 53px;
}

.name.error {
    color: red;
}

.info {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 12px;
    color: red;
}

.path {
    font-size: 16px;
    color: #808080;
}

.logo {
    width: 100%;
    height: 120px;
    position: relative;
}

.logo img {
    margin: auto;
    display:block;
}

.btn-group.overlay {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    display: flex;
    opacity: 0;
    transition: opacity 0.3s linear;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-group.overlay:hover {
    opacity: 1;
}

.btn-group .btn-anchor {
    margin:auto;
}

.btn-group .btn-anchor .corner {
    position: absolute;
    right: 0;
    top: 0;
}
